body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color:#e5e7eb;


    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
    gap: 15px;
}
li {

}
a {
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
}

button {
    background: #3882f6;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #e5e7eb;
    font-weight: 900;
    font-style: normal;
    max-width: 100px;
    
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0px 10%;
    gap: 50px;
}

    .header {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;

    }
        .logo {
            font-size: 24px;
            color: #f9faf8;
            font-weight: 900;
            align-self: center;
            flex: none;
            
        }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 50px 0;
        gap: 40px;
    }

        .top-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 50%;
            max-width: 400px;
            gap: 5px;
            flex: 1 0 auto;
            
        }
            .h-main {
                font-size: 48px;
                color: #f9faf8;
                font-weight: 900 ;
                flex: auto;
            }
            .h-sec {
                flex: 1;
            }
        .top-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6c757d;
            width: 50%;
            max-width: 400px;
            flex: 1 0 auto;
            
        }

.rand {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
    .rand-title {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        margin: auto;
    }
    .rand-pics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
        .pic-box {
            display: flex;
            flex-direction: column;
            width: 150px;
            justify-content: flex-start;
            align-items: center;

        }
            .pic {
                border-radius: 8px;
                border: 1px solid #3882f6;
                height: 150px;
            }
            .pic-txt {
                color: #6c757d;
            }

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}
    .quote-txt {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
    }
    .quote-aut {
        font-weight: 900;
        font-size: 24px;
    }

.bot {
    background-color: #3882f6;
    
}
    .call {
        
    }
        .call-title {
            color: #f9faf8;
            font-size: 24px;
            font-weight: 900;
        }
        .call-txt {

        }
    .bot-but {
        max-width: 100px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 0px;
        color: #e5e7eb;
        align-items: center;
    }

.footer {
    background-color: #1f2937;
    color: #f9faf8;
}