@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color:#e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    gap: 30px; 
}

button {
    background: #3882f6;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #e5e7eb;
    font-weight: 900;
    font-style: normal;
    max-width: 100px;
    
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0px 10%;
    gap: 50px;
}

    .header {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;

    }
        .logo {
            font-size: 24px;
            color: #f9faf8;
            font-weight: 900;
            align-self: center;
            flex: none;
            
        }
        .nav {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            flex-shrink: 1;
            justify-content: flex-end;
            gap: 1rem;
        }
          .nav  a {
                text-decoration: none;
                font-size: 18px;
                color:#e5e7eb;
            }

    .top {

        display: flex;
        justify-content: space-evenly;
        padding: 50px 0;
        gap: 40px;
        align-items: stretch;
        
    }

    .top div{
        flex: 1 1 auto;
    }

        .top-text {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;

            
        }
            .h-main {
                font-size: 48px;
                color: #f9faf8;
                font-weight: 900 ;
                flex: auto;
            }
            .h-sec {
                flex: 1;
            }
        .top-pic {
            text-align: center;
            background-color: #6c757d;
            max-width: 400px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

        }

.rand {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 30px;
    padding: 30px 10%;
}
    .rand-title {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        margin: auto;
        text-align: center;
    }
    .rand-pics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
        .pic-box {
            display: flex;
            flex-direction: column;

            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            flex: 0 0 175px;

        }
            .pic {
                border-radius: 8px;
                border: 2px solid #3882f6;
                height: 175px;
                width: 175px;
            }
            .pic-txt {
                color: #6c757d;
                text-align: center;
            }

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 75px 10%;
    gap: 50px;
    

}
    .quote-txt {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
        width: 782px;
        
    }
    .quote-aut {
        font-weight: 900;
        font-size: 24px;
        width: 782px;
        text-align: end;
        
    }

.bot {
    background-color: #3882f6;
    width: 782px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
}
    .call {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: center;
    }
        .call-title {
            color: #f9faf8;
            font-size: 24px;
            font-weight: 900;
            
        }
        .call-txt {
            width: fit-content;
        }
    .bot-but {
        width: 100px;
        max-height: fit-content;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 0px;
        color: #e5e7eb;
        text-align: center;
    }

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    text-align: center;
}